
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;  
}

.main-container {  
  display: flex;
  flex-direction: column;
  
}

.header--dark {
  background-color: rgb(51,57,64);
  color: rgb(236,236,236);
  display: flex;
  align-items: center;
  line-height: 3rem;
}

.header__title {
  display: inline;
  font-size: 1.25rem;
  margin: auto 4rem auto 1rem;
}

.header__menu {
  display: inline;
  font-size: 1.25rem;
  margin: auto auto auto 1rem;
}

.header__search {
  display: inline;  
}

.search__input {
  border-radius: 4px 0 0 4px;
  border: 2px solid black;
  /* border-width: 0; */
  padding: 0.375rem  0.75rem;
  font-size: 1.2rem; 
  transition: border-color 0.15s;
}

.search__input:focus {  
  outline: 0; 
  border-color: rgb(128,189,255); 
}  

.search__btn {
  background-color: rgb(0,123,255);
  border-radius: 0 4px 4px 0;
  border-width: 0;
  font-size: 1.2rem;
  width: 2.25rem;
  height: 2.25rem;
  margin: -5px;
}

.header__user {
  margin-left: 2rem;
  margin-right: 1rem;
}

main {
  display: flex;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.main aside {
  display: flex;
}

.main__nav {
  width: 12rem;
  background-color: rgb(33,37,41);
  color: rgba(255, 255, 255, 0.802);  /* Check later*/  
  display: flex;
}

.nav__ul {
  width: inherit;
  list-style-type: none; 
  padding: 0 1rem;   
}

.nav__ul li { 
  margin: 2.0rem auto; 
  display: flex; 
}

li.nav__ul--title:not(:first-child) {
  margin-top: 4rem;
}

li.nav__ul--title:first-child {
  margin-top: 1rem;
}

.nav__ul a {
  color: rgba(250, 248, 248, 0.517);
  text-decoration: none;
  font-size: .9rem;
}

.nav__ul a:first-child {
  margin-right: auto;
}

.content {
  width: 100%;
  margin: 0 1rem;
}

.main__breadcrumb {
  background-color: rgb(233,236,239);
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
}

.main__cards {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  aside {
    display: flex;
  }
  .main__nav {
    width: 4.5rem;
  }
  .main__nav li span {
    display: none;
  }
  .main__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main__cards .main__card:not(:last-child) {
    margin-right: 0;
  }
  .nav__ul li a {
    font-size: 1.5rem;
  }
}

.main__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -webkit-fill-available;  
  border-radius: 0.25rem;    
  margin-top: 2rem;  
  color: white;
}

.main__card:not(:last-child) {
  margin-right: 2.5rem;
}

.card__top {
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 1.5rem 1.5rem;  
  transition: background-color 0.3s; /* Check later */
  
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 0.25rem 0.25rem;  
  padding: 1.2rem 1.5rem;
  transition: background-color 0.3s; /* Check later */
  font-size: .75rem;
}

.main__card--blue {
  background-color: rgb(0,123,255);
}

.main__card--yellow {
  background-color: rgb(255,193,7);
}

.main__card--green {
  background-color: rgb(40,167,69);
}

.main__card--red {
  background-color: rgb(220,53,69);
}