@use '../abstracts' as *;

.tooltip-custom {
  position: relative;
  display: inline-block;  
}

.tooltip-custom .tooltiptext {
  visibility: hidden;
  // width: 80px;
  width: 80px;
  background-color: inherit;
  color: inherit;
  font-size: 1rem;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: calc(-100%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-custom .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-custom:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}