.container {
  background-color: #d1dcdd;
}

.tictactoe {
  display: inline-grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  background-color: #528abd;
  margin: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cell {
  border: 1px solid #accff1;
  /* width: 100px; */
  line-height: 100px;
  text-align: center;
}

.cell[data-row="0"] {
  border-top: 0;
}

.cell[data-row="2"] {
  border-bottom: 0;
}

.cell[data-cell="0"] {
  border-left: 0;
}

.cell[data-cell="2"] {
  border-right: 0;
}
