@use '../abstracts'as *;

.download {
  background: var('colors.yellow');

  img.google-badge {
    width: 135px;
  }

  .row {
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__text-container {
    text-align: center;
  }

  &__link-container {
    text-align: center;

    a {
      text-decoration: none;

      img {
        padding-bottom: 1rem;
      }
    }
  }
}