@use '../abstracts'as *;

.features {
  hr {
    background: linear-gradient(to right, var('colors.gradientStart'), var('colors.gradientEnd'));
    margin: 0;
  }

  i {
    color: var('colors.iconRed');

    &.icon::before {
      font-size: 4rem;
    }
  }

  &__main-container {
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  }

  &__inner-container {
    justify-content: center;
    align-items: center;
  }

  &__phone-container {
    @include phone;
  }

  &__icon-container {
    div {
      @media (min-width: 576px) {
        padding-top: 3rem;
      }

      h3 {
        margin-top: 1rem;
      }
    }
  }

}