@use '../abstracts'as *;

.getStarted {
  background: var('colors.grayLight') url(var('images.getStarted'));
  background-blend-mode: darken;
  background-size: 100%;
  
  &__text-container {
    padding-top: 25%;
    padding-left: 15%;
    padding-bottom: 20%;
    color: var('colors.white');
  }
}