@use '../abstracts'as *;

.top {
  background-image: url(var('patterns.pattern1')), linear-gradient(to right, var('colors.gradientStart'), var('colors.gradientEnd'));

  .top__main-containter {
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .top__inner-containter {
      justify-content: center;
      align-items: center;

      .top__text-container {
        color: var('colors.white');
        text-align: center;

        @media (min-width: 992px) {
          text-align: left;
        }

        h1 {
          padding-bottom: 1.5rem;
        }

        button {
          padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        }
      }

      .top__phone-container {
        @include phone;
      }
    }
  }
}